* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4a4e69;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #f2e9e4;
  color: #4a4e69;
}

footer {
  position: relative;
  background-color: #4a4e69;
  overflow: hidden;
  width: 100%;
  color: white;
  padding: 14px 20px;
}

button:hover{
  cursor: pointer;
}







/* modalcss */

.modal {
  position: fixed; /* Fix position to the top left of the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  display: flex; /* Enable flex */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
.modal-content {
  background-color: white; /* Modal content background color */
  padding: 20px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  opacity: 80%;
  margin-bottom: 2cm;
  
}